<ion-content padding>


  <ion-row>
    <ion-col size="12">
   <div class="imgcontainer">
    <img src="../../assets/images/face_recog_102.JPG" alt="" srcset="" alt="Avatar" class="avatar">
   </div>

    </ion-col>
  </ion-row>



   <form  #loginForm=ngForm  (ngSubmit)="login()">
     <ion-item>
       <ion-label position="floating"  required>Email <ion-text color="danger">*</ion-text></ion-label>
       <ion-input required  type="email" name="email" [(ngModel)]="form.email" ></ion-input>
     </ion-item>
     <ion-item>
       <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
       <ion-input required [(ngModel)]="form.password" name="password"  type="password" required></ion-input>
     </ion-item>
     <ion-button expand="full" color="primary" style="margin-top:20px;" type="submit" [disabled]="!loginForm.valid">
       Login &nbsp;<ion-icon  name="log-in"></ion-icon>
     </ion-button>
     <ion-col size="12">
       <ion-text color="primary" routerLink="/register" class="register_link" style="justify-content: center;">
        <b>have no account click here</b>
       </ion-text>
     </ion-col>
   </form>
 



 <div style="display:none;" #loginImages>
  <img  alt="" srcset="" id="image_from_server">
  <img alt="" srcset="" id="image_from_app">
 </div>
   

</ion-content>
